CS 280/A7/ComList.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="computer">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="manufacturer" type="xs:string"/>
      <xs:element name="screen" type="xs:string"/>
      <xs:element name="processor" type="xs:string">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="manufacturer" type="xs:string"/>
				<xs:element name="model" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>